/* .App {
  text-align: center;
} */
.title {
  text-align: center;
}

.noteInput {
  /* border: 0px; */
  /* margin-top: 1.87em; */
  height: 30em;
  background-color: rgb(206, 216, 219);
  border-bottom:red;
  width: 100%;
  overflow: scroll;
}

.noteInput::-webkit-scrollbar {
  display:none !important;
}

.noteListBackground {
  background-color: rgb(206, 216, 219)
}

.notesList {
  overflow: scroll;
  height: 30em;
}

.notesList::-webkit-scrollbar {
  display:none !important;
}

.singleNoteList {
  background-color: rgb(233, 241, 243);
  border-top: .1em solid rgb(206, 216, 219);
  padding-left: 1em;
}

.singleNoteList p{
  margin-bottom:0;
}

.singleNoteList:hover {
  background-color: rgb(206, 216, 219);
}

.singleNoteList:focus {
  background-color: rgb(44, 169, 211);
}

.MuiInputBase-root-36 {
  color: purple;
}

.alignCol {
  padding: 0
}