body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

  /* #dae0e5 */
.noteItem {
  border-top: .1rem solid rgb(224, 215, 215);
  background-color: #f8f9fa;

}

.noteItem:hover {
  background-color: #dae0e5;
 
}

.target-item:hover {
  background-color:#dae0e5;
}

.noteslist {
  overflow: scroll;
  height: 90vh;
}
.noteslist::-webkit-scrollbar {
  display:none !important;
}


#sidebar-wrapper .sidebar-heading {
  padding: 0.15rem 1.25rem;
  width:100%;
  font-size: 2rem;
  border-radius:0;
}

#sidebar-wrapper .sidebar-heading:focus {
  box-shadow:none;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.editor { 
  padding-top:30px;
  overflow:scroll;
  height:90vh;
}
.editor::-webkit-scrollbar {
  display:none !important;
}


